{% extends 'shop/base.html' %}


{% block order %}
<div class="w3-row">
        <h1 class="w3-button w3-center w3-light-grey w3-container w3-margin w3-col w3-container" style="width:80%">All orders</h1>
        <a href="{% url 'orderadd' %}"><button class="w3-btn w3-rest w3-red w3-round-xlarge w3-margin w3-large w3-card"><strong>Add order +</strong></button></a>
</div>

<div class="w3-container w3-margin w3-responsive" style="margin:0 auto">
        <table class="w3-table w3-striped w3-card w3-round  w3-white ">
            <tr class="w3-green w3-xlarge w3-bold w3-card">
                <td>OrderId</td>
                <td>Name</td>
                <td>Contact</td>
                <td>Order By</td>
                <td>Address</td>
                <td>Delivery Date</td>
                <td>Status</td>
                <td>Payment Mode</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            {% for order in orders  %}
                <tr class="w3-margin">
                    <td><a href="{% url 'orderdetail' order.id %}">{{order.orderid}}</a></td>
                    <td>{{order.name}}</td>
                    <td>{{order.contact}}</td>
                    <td>{{order.orderby}}</td>
                    <td>{{order.address}}</td>
                    <td>{{order.delivery_date}}</td>
                    <td >{{order.status}}</td>
                    <td>{{order.paymentmode}}</td>
                    <td><a href="{% url 'orderedit' order.id %}"><button class="w3-button w3-red w3-round-xxlarge"><strong>edit</strong></button></a></td>
                    <td><a href="{% url 'orderdelete' order.id %}"><button class="w3-button w3-red w3-round-xxlarge"><strong>delete</strong></button></a></td>
                    <td><a href="{% url 'pdf' order.id %}"><button class="w3-button w3-red w3-round-xxlarge"><strong>invoice</strong></button></a></td>
                </tr>
            {% endfor %}
                
        </table>
{% endblock order %}
    
</div>